@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn-shop:hover .shop-border {
  width: 72px !important;
}

.footer-futures:hover .footer-border {
  width: 55px !important;
}

.card-body:hover .card-icon {
  display: block !important;
}
